:root {
    --font-family: "Josefin Sans", sans-serif;
    --bs-shadow-color: rgba(0, 0, 0, 0.107);
}

html, body {
    font-size: 16.5px;
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,h3,h5,h6 {
    font-family: var(--font-family);
    font-weight: bold;
    text-transform: uppercase;
}   


.btn-primary {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 5px;
    border: 0;
    font-size: 1em;
}

/* Cards */
.card {
    border-color: transparent;
    -webkit-box-shadow: 10px 10px 21px 2px var(--bs-shadow-color);
    -moz-box-shadow: 10px 10px 21px 2px var(--bs-shadow-color);
    box-shadow: 0 4px 21px 2px var(--bs-shadow-color);
    margin: 10px;
}

.card-body {
    padding: 70px 10px 70px 10px;
    border: 1px solid transparent; /* Corrigido para ter uma borda visível, se necessário */
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.card-body:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
    border-radius: 5px; /* Garantir que o arredondamento seja aplicado no hover */
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.card-body:hover a,
.card-body:hover i {
    color: var(--bs-white); /* Faz os links e ícones ficarem brancos ao passar o mouse */
}


.bg-primary-degrade {
    background: linear-gradient(to bottom, var(--bs-primary), var(--bs-secondary));
}
